<!DOCTYPE html>
<h1 class="title1">Information</h1><h1 class="title2">Credits</h1>
<div class="wrp">
<div class="emptys">
<p>Website: <button class="url-btn" onclick="handler.openURL('https://hyper-dbc.com/')">https://hyper-dbc.com</button></p>
<p>Discord: <button class="url-btn" onclick="handler.openURL('https://discord.gg/yZKv4yz')">https://discord.gg/DBC</button></p>
</div>

<div class="emptys">
    <p>Discord Zit Owner/Co-Owner: <button class="url-btn" onclick="handler.copyToClipboard('zit_x_us#9951')">Zit_x_us</button></p> 
    <p>Discord *you're Co-Owner: <button class="url-btn" onclick="handler.copyToClipboard('*you\n\'re#7036')">*you're</button></p> 
    <p>Discord Lasse Developer: <button class="url-btn" onclick="handler.copyToClipboard('Lasse#0001')">Lasse</button></p> 
    
</div>
</div>
<div id="changelogs">
    <h4>0.7.0</h4>
    <p><span class="added">ADDED</span> MORE PLUGINS</p>
    <h4>0.6.0</h4>
    <p><span class="removed">REMOVED</span> DELUXE EDITION REMOVED</p>
    <p><span class="info">CHANGED</span> OLD DELUXE EDITION FEATURES IS AVAILABLE FOR STANDARD EDITION</p>
    <p><span class="added">ADDED</span> PRICE FOR THE SOFTWARE</p>
    <h4>0.5.0</h4>
    <p><span class="info">CHANGED</span> REMOVED BRANDING FOR DELUXE EDITION</p>
    <p><span class="added">ADDED</span> TICKET SYSTEM FOR DELUXE EDITION</p>
    <h4>0.4.0</h4>
    <p><span class="added">ADDED</span> DELUXE EDITION</p>
    <p><span class="added">ADDED</span> CHANGE STATUS TYPE FOR DELUXE EDITION</p>
    <h4>0.3.0</h4>
    <p><span class="added">ADDED</span> BANNED WORDS - PLUGIN</p>
    <p><span class="added">ADDED</span> CHANNEL LOCKDOWN - PLUGIN</p>
    <p><span class="added">ADDED</span> SHUTDOWN - PLUGIN</p>
    <p><span class="added">ADDED</span> MULTIPLE PROJECTS</p>
    <p><span class="added">ADDED</span> POST ANNOUNCEMENTS - FUNCTION</p>
    <p><span class="info">CHANGED</span> BUG FIXES</p>
    <h4>0.2.0</h4>
    <p><span class="info">INFO</span> Beta release</p>
    <!-- 
    <p><span class="removed">REMOVED</span> MESSAGE</p>
    <p><span class="info">CHANGED</span> MESSAGE</p> 
    <p><span class="added">ADDED</span> MESSAGE</p>
    -->
</div>
<script>
    $(document).ready(function () {
        handler.botStatus();
    });
</script>