<!DOCTYPE html>
<div id="home">
    <h1>DISCORD BOT - CONTROLS</h1>
    <div class="flex info-container">
        <div>
            <p class="info-title">Easy configurations</p>
            <p class="info-text">Make a Discord bot easy and fast with a simple control panel.</p>
        </div>
        <div>
            <p class="info-title">Add chat commands</p>
            <p class="info-text">You can always add new commands in few seconds. </p>
        </div>
    </div>
    <div class="flex info-container">
        <div>
            <p class="info-title">Pre-installed plugins</p>
            <p class="info-text">You don't have to download plugins. All released plugins is always included in the
                software.</p>
        </div>
        <div>
            <p class="info-title">Export to Windows & Ubuntu</p>
            <p class="info-text">Export your bot, change the code and have fun.</p>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        handler.botStatus();
    });
</script>