<!DOCTYPE html>
<div id="projects">
    <div id="user">
        <span>
        <h2><p></p></h2>
        </span>
    </div>
    <div class="header">
        <h1>Projects</h1>
    </div>
    <div class="body">
        <div>
            <h2>Actions</h2>
            <button onclick="handler.newProject()">New project</button>
            <!--<button onclick="handler.Redeemcode()">Redeem code</button> -->
        </div>
        <div class="exists-projects">
            <h2>Current projects</h2>
            <div></div>
        </div>
    </div>
</div>
<script>
    handler.getProjects();
</script>   